In [2]:
import PublicDataReader as pdr
from PublicDataReader import Kbland

### 조회 가능 데이터 목록

- 주간 아파트 매매가격지수
- 주간 아파트 전세가격지수
- 월간 아파트 매매가격지수
- 월간 아파트 전세가격지수
- 단독 매매가격지수
- 단독 전세가격지수
- 연립 매매가격지수
- 연립 전세가격지수
- 주택종합 매매가격지수
- 주택종합 전세가격지수

### 입력 명세

<div align="center">

| 항목명      | 설명                                                        | 데이터타입  | 샘플데이터 | 항목구분 |
| :-------- | :--------------------------------------------------------- | :------ | :----- | :---- |
| 월간주간구분코드 | 월간 주간 구분<br>(01: 월간, 02: 주간)                              | string | 01    | 필수   |
| 매물종별구분   | 매물 종별 구분<br>(01: 아파트, 08: 연립, 09: 단독, 98: 주택종합)           | string | 01    | 필수   |
| 매매전세코드   | 매매 전세 구분<br>(01: 매매, 02: 전세)                              | string | 01    | 필수   |
| 지역코드     | 시도코드 2자리<br>(서울: 11, 경기: 42)                              | string | 11    | 옵션   |
| 기간       | 조회 기간(최근 년)<br>(최근 1년: 1, 최근 2년: 2)<br>\*미지정 시 전체 기간으로 조회 | string | 1     | 옵션   |

</div>

### 출력 명세

<div align="center">

| 항목명    | 설명                         | 샘플데이터      |
| :------ | :-------------------------- | :---------- |
| 월간주간구분 | 월간주간구분 (월간, 주간)            | 월간         |
| 매물종별구분 | 매물종별구분 (아파트, 연립, 단독, 주택종합) | 아파트        |
| 거래구분   | 거래구분 (매매, 전세)              | 매매         |
| 지역코드   | 지역코드                       | 1174000000 |
| 지역명    | 지역명                        | 강동구        |
| 날짜     | 날짜                         | 2022-12-01 |
| 가격지수   | 가격지수                       | 95.464474  |

In [3]:
api = Kbland()
params = {
    "월간주간구분코드": "01",
    "매물종별구분": "01",
    "매매전세코드": "01",
    "지역코드": "11",
    "기간": "1",
}
df = api.get_price_index(**params)
df.tail()

    월간주간구분 매물종별구분 거래구분        지역코드  지역명         날짜        가격지수
333     월간    아파트   매매  1174000000  강동구 2025-02-01   96.279460
334     월간    아파트   매매  1174000000  강동구 2025-03-01   96.859344
335     월간    아파트   매매  1174000000  강동구 2025-04-01   98.293155
336     월간    아파트   매매  1174000000  강동구 2025-05-01   98.600531
337     월간    아파트   매매  1174000000  강동구 2025-06-01  100.437019

-----------

### 조회 가능 데이터 목록

- 월간 아파트 월세가격지수

### 입력 명세

<div align="center">

| 항목명 | 설명                                                        | 데이터타입  | 샘플데이터 | 항목구분 |
| :--- | :--------------------------------------------------------- | :------ | :----- | :---- |
| 기간  | 조회 기간(최근 년)<br>(최근 1년: 1, 최근 2년: 2)<br>\*미지정 시 전체 기간으로 조회 | string | 1     | 옵션   |

</div>

### 출력 명세

<div align="center">

| 항목명    | 설명           | 샘플데이터      |
| :------ | :------------ | :---------- |
| 월간주간구분 | 월간주간구분 (월간)  | 월간         |
| 매물종별구분 | 매물종별구분 (아파트) | 아파트        |
| 거래구분   | 거래구분 (월세)    | 월세         |
| 지역코드   | 지역코드         | 4100000000 |
| 지역명    | 지역명          | 경기도        |
| 날짜     | 날짜           | 2022-12-01 |
| 가격지수   | 가격지수         | 107.956571 |

In [4]:
params = {
    "기간": "1"
}
df = api.get_monthly_apartment_wolse_index(**params)
df.tail()

   월간주간구분 매물종별구분 거래구분        지역코드 지역명         날짜        가격지수
73     월간    아파트   월세  4100000000  경기 2025-02-01  123.144631
74     월간    아파트   월세  4100000000  경기 2025-03-01  124.167791
75     월간    아파트   월세  4100000000  경기 2025-04-01  125.522584
76     월간    아파트   월세  4100000000  경기 2025-05-01  126.284463
77     월간    아파트   월세  4100000000  경기 2025-06-01  126.918851

------

### 조회 가능 데이터 목록

- KB선도아파트 50 지수

### 입력 명세

<div align="center">

| 항목명 | 설명                                                        | 데이터타입  | 샘플데이터 | 항목구분 |
| :--- | :--------------------------------------------------------- | :------ | :----- | :---- |
| 기간  | 조회 기간(최근 년)<br>(최근 1년: 1, 최근 2년: 2)<br>\*미지정 시 전체 기간으로 조회 | string | 1     | 옵션   |

</div>

### 출력 명세

<div align="center">

| 항목명       | 설명        | 샘플데이터      |
| :--------- | :--------- | :---------- |
| 날짜        | 날짜        | 2022-12-01 |
| 선도50지수    | 선도50지수    | 92.074998  |
| 전월대비증감률   | 전월대비증감률   | \-2.583736 |
| 전년동월대비증감률 | 전년동월대비증감률 | \-7.554604 |

In [5]:
params = {
    "기간": "1"
}
df = api.get_lead_apartment_50_index(**params)
df.tail()

           날짜      선도50지수  전월대비증감률  전년동월대비증감률
8  2025-02-01  105.201860     0.78  12.416523
9  2025-03-01  108.799763     3.42  16.249543
10 2025-04-01  112.618635     3.51  20.185679
11 2025-05-01  114.972365     2.09  22.208725
12 2025-06-01  120.134624     4.49  26.896449

--------

## 가격지수증감률

### 조회 가능 데이터 목록

- 주간 아파트 매매가격지수 증감률
- 주간 아파트 전세가격지수 증감률
- 월간 아파트 매매가격지수 증감률
- 월간 아파트 전세가격지수 증감률
- 단독 매매가격지수 증감률
- 단독 전세가격지수 증감률
- 연립 매매가격지수 증감률
- 연립 전세가격지수 증감률
- 주택종합 매매가격지수 증감률
- 주택종합 전세가격지수 증감률

### 입력 명세

<div align="center">

| 항목명      | 설명                                                        | 데이터타입  | 샘플데이터 | 항목구분 |
| :-------- | :--------------------------------------------------------- | :------ | :----- | :---- |
| 월간주간구분코드 | 월간 주간 구분<br>(01: 월간, 02: 주간)                              | string | 01    | 필수   |
| 매물종별구분   | 매물 종별 구분<br>(01: 아파트, 08: 연립, 09: 단독, 98: 주택종합)           | string | 01    | 필수   |
| 매매전세코드   | 매매 전세 구분<br>(01: 매매, 02: 전세)                              | string | 01    | 필수   |
| 지역코드     | 시도코드 2자리<br>(서울: 11, 경기: 42)                              | string | 11    | 옵션   |
| 기간       | 조회 기간(최근 년)<br>(최근 1년: 1, 최근 2년: 2)<br>\*미지정 시 전체 기간으로 조회 | string | 1     | 옵션   |

</div>

### 출력 명세

<div align="center">

| 항목명     | 설명                         | 샘플데이터      |
| :------- | :-------------------------- | :---------- |
| 월간주간구분  | 월간주간구분 (월간, 주간)            | 월간         |
| 매물종별구분  | 매물종별구분 (아파트, 연립, 단독, 주택종합) | 아파트        |
| 거래구분    | 거래구분 (매매, 전세)              | 매매         |
| 지역코드    | 지역코드                       | 1174000000 |
| 지역명     | 지역명                        | 강동구        |
| 날짜      | 날짜                         | 2022-12-01 |
| 가격지수증감률 | 가격지수증감률                    | \-2.242653 |

In [ ]:
api = Kbland()
params = {
    "월간주간구분코드": "01",
    "매물종별구분": "01",
    "매매전세코드": "01",
    "지역코드": "11",
    "기간": "1",
}
df = api.get_price_index_change_rate(**params)
df.tail()

    월간주간구분 매물종별구분 거래구분        지역코드  지역명         날짜   가격지수증감률
333     월간    아파트   매매  1174000000  강동구 2025-02-01 -0.034418
334     월간    아파트   매매  1174000000  강동구 2025-03-01  0.602292
335     월간    아파트   매매  1174000000  강동구 2025-04-01  1.480302
336     월간    아파트   매매  1174000000  강동구 2025-05-01  0.312714
337     월간    아파트   매매  1174000000  강동구 2025-06-01  1.862554

## 전세가격비율1
### 조회 가능 데이터 목록

- 아파트 매매가격대비 전세가격비율
- 단독 매매가격대비 전세가격비율
- 연립 매매가격대비 전세가격비율
- 주택종합 매매가격대비 전세가격비율

### 입력 명세

<div align="center">

| 항목명    | 설명                                                        | 데이터타입  | 샘플데이터 | 항목구분 |
| :------ | :--------------------------------------------------------- | :------ | :----- | :---- |
| 매물종별구분 | 매물 종별 구분<br>(01: 아파트, 08: 연립, 09: 단독, 98: 주택종합)           | string | 01    | 필수   |
| 기간     | 조회 기간(최근 년)<br>(최근 1년: 1, 최근 2년: 2)<br>\*미지정 시 전체 기간으로 조회 | string | 1     | 옵션   |
| 지역코드   | 시도코드 2자리<br>(서울: 11, 경기: 42)                              | string | 11    | 옵션   |

</div>

### 출력 명세

<div align="center">

| 항목명    | 설명                         | 샘플데이터      |
| :------ | :-------------------------- | :---------- |
| 매물종별구분 | 매물종별구분 (아파트, 연립, 단독, 주택종합) | 주택종합       |
| 지역코드   | 지역코드                       | 5000000000 |
| 지역명    | 지역명                        | 제주특별자치도    |
| 날짜     | 날짜                         | 2022-12-01 |
| 전세가격비율 | 전세가격비율                     | 58.378539  |

In [8]:
api = Kbland()
params = {
    "매물종별구분": "98",
    "기간": "1",
    "지역코드": "11",
}
df = api.get_jeonse_price_ratio(**params)
df.tail()

   매물종별구분        지역코드 지역명         날짜     전세가격비율
8    주택종합  1100000000  서울 2025-02-01  58.445349
9    주택종합  1100000000  서울 2025-03-01  58.338199
10   주택종합  1100000000  서울 2025-04-01  58.048284
11   주택종합  1100000000  서울 2025-05-01  57.877691
12   주택종합  1100000000  서울 2025-06-01  57.633736

## 전세가격비율2


### 조회 가능 데이터 목록

- 전월세 전환율

### 입력 명세

<div align="center">

| 항목명 | 설명                                                        | 데이터타입  | 샘플데이터 | 항목구분 |
| :--- | :--------------------------------------------------------- | :------ | :----- | :---- |
| 기간  | 조회 기간(최근 년)<br>(최근 1년: 1, 최근 2년: 2)<br>\*미지정 시 전체 기간으로 조회 | string | 1     | 옵션   |

</div>

### 출력 명세

<div align="center">

| 항목명    | 설명     | 샘플데이터      |
| :------ | :------ | :---------- |
| 지역코드   | 지역코드   | 4100000000 |
| 지역명    | 지역명    | 경기도        |
| 날짜     | 날짜     | 2022-08-01 |
| 전월세전환율 | 전월세전환율 | 4.02856    |

In [9]:

api = Kbland()
params = {
    "기간": "1",
}
df = api.get_jeonwolse_conversion_rate(**params)
df.tail()

          지역코드 지역명         날짜    전월세전환율
73  4100000000  경기 2025-02-01  5.085453
74  4100000000  경기 2025-03-01  5.098654
75  4100000000  경기 2025-04-01  5.110514
76  4100000000  경기 2025-05-01  5.107918
77  4100000000  경기 2025-06-01  5.108318

## 시장동향/설문조사

### 조회 가능 데이터 목록

- 주간 매수우위지수
- 주간 매매거래활발지수
- 주간 전세수급지수
- 주간 전세거래활발지수
- 월간 매수우위지수
- 월간 매매거래활발지수
- 월간 전세수급지수
- 월간 전세거래활발지수
- 월간 매매가격전망지수
- 월간 전세가격전망지수

### 입력 명세

<div align="center">

| 항목명      | 설명                                                                                       | 데이터타입  | 샘플데이터 | 항목구분 |
| :-------- | :---------------------------------------------------------------------------------------- | :------ | :----- | :---- |
| 메뉴코드     | 메뉴코드<br>(01: 매수우위지수, 02: 매매거래활발지수, 03: 전세수급지수, 04: 전세거래활발지수, 05: 매매가격전망지수, 06: 전세가격전망지수) | string | 01     | 필수   |
| 월간주간구분코드 | 월간 주간 구분<br>(01: 월간, 02: 주간)                                                             | string | 01    | 필수   |
| 기간       | 조회 기간(최근 년)<br>(최근 1년: 1, 최근 2년: 2)<br>\*미지정 시 전체 기간으로 조회                                | string | 1     | 옵션   |

</div>

### 출력 명세

<div align="center">

| 항목명          | 설명         | 샘플데이터                                                                |
| :------------ | :---------- | :-------------------------------------------------------------------- |
| 메뉴코드         | 메뉴코드       | 매수우위지수                                                               |
| 월간주간구분       | 월간주간구분     | 월간                                                                   |
| 지역코드         | 지역코드       | 5000000000                                                           |
| 지역명          | 지역명        | 제주특별자치도                                                              |
| 날짜           | 날짜         | 2022-08-01                                                           |
| \*메뉴 별 결과 항목 | 메뉴 별 결과 항목 | 매수자많음: 4.347826, 비슷함: 39.130435, 매도자많음: 56.521739, 매수우위지수: 47.826087 |

In [15]:

api = Kbland()
params = {
    "메뉴코드": "01",
    "월간주간구분코드": "01",
    "기간": "1",
}
df = api.get_market_trend(**params)
# df[df["지역명"] == "강남11개구"]
df["지역코드"].unique()

array(['0000000000', '1100000000', '1A0000', '1B0000', '1T0000',
       '2600000000', '2700000000', '2800000000', '2900000000', '2A0000',
       '2B0000', '3000000000', '3100000000', '3600000000', '4100000000',
       '4300000000', '4400000000', '4600000000', '4700000000',
       '4800000000', '4A0000', '5000000000', '5100000000', '5200000000'],
      dtype=object)

## 면적별 가격지수


### 조회 가능 데이터 목록

- 주간 아파트 전용면적별 매매가격지수
- 주간 아파트 전용면적별 전세가격지수
- 월간 아파트 전용면적별 매매가격지수
- 월간 아파트 전용면적별 전세가격지수
- 월간 아파트 전용면적별(구) 매매가격지수
- 월간 아파트 전용면적별(구) 전세가격지수
- 단독 전용면적별 매매가격지수
- 단독 전용면적별 전세가격지수
- 연립 전용면적별 매매가격지수
- 연립 전용면적별 전세가격지수
- 주택종합 전용면적별 매매가격지수
- 주택종합 전용면적별 전세가격지수

### 입력 명세

<div align="center">

| 항목명      | 설명                                                        | 데이터타입  | 샘플데이터 | 항목구분 |
| :-------- | :--------------------------------------------------------- | :------ | :----- | :---- |
| 월간주간구분코드 | 월간 주간 구분<br>(01: 월간, 02: 주간)                              | string | 01    | 필수   |
| 매물종별구분   | 매물 종별 구분<br>(01: 아파트, 08: 연립, 09: 단독, 98: 주택종합)           | string | 01    | 필수   |
| 면적별코드    | 면적별코드<br>(01: 전용면적별(구), 02: 전용면적별)                        | string | 02    | 필수   |
| 매매전세코드   | 매매 전세 구분<br>(01: 매매, 02: 전세)                              | string | 01    | 필수   |
| 기간       | 조회 기간(최근 년)<br>(최근 1년: 1, 최근 2년: 2)<br>\*미지정 시 전체 기간으로 조회 | string | 1     | 옵션   |

</div>

### 출력 명세

<div align="center">

| 항목명          | 설명         | 샘플데이터                                                                            |
| :------------ | :---------- | :-------------------------------------------------------------------------------- |
| 월간주간구분       | 월간주간구분     | 월간                                                                               |
| 매물종별구분       | 매물종별구분     | 아파트                                                                              |
| 면적별코드        | 면적별코드      | 전용면적별                                                                            |
| 매매전세코드       | 매매전세코드     | 매매                                                                               |
| 지역코드         | 지역코드       | 5000000000                                                                       |
| 지역명          | 지역명        | 제주특별자치도                                                                          |
| 날짜           | 날짜         | 2022-12-01                                                                       |
| \*면적 별 결과 항목 | 면적 별 결과 항목 | 대형: 109.509411, 중대형: 109.007687, 중형: 108.645455, 중소형: 103.091555, 소형: 107.166716 |

In [18]:
api = Kbland()
params = {
    "월간주간구분코드": "01",
    "매물종별구분": "01",
    "면적별코드": "02",
    "매매전세코드": "01",
    "기간": "1",
}

df = api.get_price_index_by_area(**params)
df["지역명"].unique()

array(['전국', '서울', '강북14개구', '강남11개구', '수도권', '부산', '대구', '인천', '광주',
       '6개광역시', '5개광역시', '대전', '울산', '세종', '경기', '충북', '충남', '전남', '경북',
       '경남', '기타지방', '제주', '강원', '전북'], dtype=object)

## 평균가격

### 조회 가능 데이터 목록

- 아파트 매매평균가격
- 아파트 전세평균가격
- 단독 매매평균가격
- 단독 전세평균가격
- 연립 매매평균가격
- 연립 전세평균가격
- 주택종합 매매평균가격
- 주택종합 전세평균가격

### 입력 명세

<div align="center">

| 항목명    | 설명                                                        | 데이터타입  | 샘플데이터 | 항목구분 |
| :------ | :--------------------------------------------------------- | :------ | :----- | :---- |
| 매물종별구분 | 매물 종별 구분<br>(01: 아파트, 08: 연립, 09: 단독, 98: 주택종합)           | string | 01    | 필수   |
| 매매전세코드 | 매매 전세 구분<br>(01: 매매, 02: 전세)                              | string | 01    | 필수   |
| 기간     | 조회 기간(최근 년)<br>(최근 1년: 1, 최근 2년: 2)<br>\*미지정 시 전체 기간으로 조회 | string | 1     | 옵션   |

</div>

### 출력 명세

<div align="center">

| 항목명    | 설명     | 샘플데이터       |
| :------ | :------ | :----------- |
| 매물종별구분 | 매물종별구분 | 아파트         |
| 매매전세코드 | 매매전세코드 | 매매          |
| 지역코드   | 지역코드   | 5000000000  |
| 지역명    | 지역명    | 제주특별자치도     |
| 날짜     | 날짜     | 2022-12-01  |
| 평균가격   | 평균가격   | 48659.99107 |

In [19]:
api = Kbland()
params = {
    "매물종별구분": "01",
    "매매전세코드": "01",
    "기간": "1",
}
df = api.get_average_price(**params)
df.tail()

    매물종별구분 매매전세코드        지역코드 지역명         날짜          평균가격
307    아파트     매매  4700000000  경북 2025-06-01  19143.329198
308    아파트     매매  4800000000  경남 2025-06-01  24307.822377
309    아파트     매매  5000000000  제주 2025-06-01  43427.867284
310    아파트     매매  5100000000  강원 2025-06-01  22112.602845
311    아파트     매매  5200000000  전북 2025-06-01  21507.273306

## ㎡당 평균가격


### 조회 가능 데이터 목록

- 아파트 ㎡당 매매평균가격
- 아파트 ㎡당 전세평균가격
- 단독 ㎡당 매매평균가격
- 단독 ㎡당 전세평균가격
- 연립 ㎡당 매매평균가격
- 연립 ㎡당 전세평균가격
- 주택종합 ㎡당 매매평균가격
- 주택종합 ㎡당 전세평균가격

### 입력 명세

<div align="center">

| 항목명    | 설명                                                        | 데이터타입  | 샘플데이터 | 항목구분 |
| :------ | :--------------------------------------------------------- | :------ | :----- | :---- |
| 매물종별구분 | 매물 종별 구분<br>(01: 아파트, 08: 연립, 09: 단독, 98: 주택종합)           | string | 01    | 필수   |
| 매매전세코드 | 매매 전세 구분<br>(01: 매매, 02: 전세)                              | string | 01    | 필수   |
| 기간     | 조회 기간(최근 년)<br>(최근 1년: 1, 최근 2년: 2)<br>\*미지정 시 전체 기간으로 조회 | string | 1     | 옵션   |

</div>

### 출력 명세

<div align="center">

| 항목명     | 설명      | 샘플데이터      |
| :------- | :------- | :---------- |
| 매물종별구분  | 매물종별구분  | 아파트        |
| 매매전세코드  | 매매전세코드  | 매매         |
| 지역코드    | 지역코드    | 5000000000 |
| 지역명     | 지역명     | 제주특별자치도    |
| 날짜      | 날짜      | 2022-12-01 |
| ㎡당 평균가격 | ㎡당 평균가격 | 646.129941 |

In [22]:
api = Kbland()
params = {
    "매물종별구분": "01",
    "매매전세코드": "01",
    "기간": "1",
}
df = api.get_average_price_per_squaremeter(**params)
df.tail()

    매물종별구분 매매전세코드        지역코드 지역명         날짜     ㎡당 평균가격
307    아파트     매매  4700000000  경북 2025-06-01  242.203852
308    아파트     매매  4800000000  경남 2025-06-01  306.671404
309    아파트     매매  5000000000  제주 2025-06-01  574.668357
310    아파트     매매  5100000000  강원 2025-06-01  290.462887
311    아파트     매매  5200000000  전북 2025-06-01  267.922819

## 5분위 평균가격


### 조회 가능 데이터 목록

- 아파트 5분위 매매평균가격
- 아파트 5분위 전세평균가격
- 주택종합 5분위 매매평균가격
- 주택종합 5분위 전세평균가격
- 아파트 ㎡당 5분위 매매평균가격
- 아파트 ㎡당 5분위 전세평균가격

### 입력 명세

<div align="center">

| 항목명    | 설명                                                        | 데이터타입  | 샘플데이터 | 항목구분 |
| :------ | :--------------------------------------------------------- | :------ | :----- | :---- |
| 매물종별구분 | 매물 종별 구분<br>(01: 아파트, 08: 연립, 09: 단독, 98: 주택종합)           | string | 01    | 필수   |
| 매매전세코드 | 매매 전세 구분<br>(01: 매매, 02: 전세)                              | string | 01    | 필수   |
| 기간     | 조회 기간(최근 년)<br>(최근 1년: 1, 최근 2년: 2)<br>\*미지정 시 전체 기간으로 조회 | string | 1     | 옵션   |

</div>

### 출력 명세

<div align="center">

| 항목명    | 설명     | 샘플데이터       |
| :------ | :------ | :----------- |
| 구분     | 구분     | 아파트 평균가격    |
| 매매전세코드 | 매매전세코드 | 매매          |
| 지역코드   | 지역코드   | 4100000000  |
| 지역명    | 지역명    | 경기도         |
| 날짜     | 날짜     | 2022-12-01  |
| 5분위    | 5분위    | 107631.6556 |
| 4분위    | 4분위    | 67638.97592 |
| 3분위    | 3분위    | 52588.0888  |
| 2분위    | 2분위    | 40355.40321 |
| 1분위    | 1분위    | 24244.15208 |
| 5분위배율  | 5분위배율  | 4.439489    |

In [27]:

api = Kbland()
params = {
    "메뉴코드": "01",
    "매매전세코드": "01",
    "기간": 1,
}
df = api.get_average_price_by_quintile(**params)
df[df["지역명"] == "서울"]

,구분,매매전세코드,지역코드,지역명,날짜,5분위,4분위,3분위,2분위,1분위,5분위배율
1,아파트 평균가격,매매,1100000000,서울,2024-06-01,249566.413808,131884.592929,96187.778748,74438.520650,49245.084312,5.067844
14,아파트 평균가격,매매,1100000000,서울,2024-07-01,253232.879990,133418.149410,96825.170313,74534.898694,49063.798350,5.161298
27,아파트 평균가격,매매,1100000000,서울,2024-08-01,257759.412024,135700.003489,97629.063973,74731.906323,48873.293002,5.274034
40,아파트 평균가격,매매,1100000000,서울,2024-09-01,262246.665767,137298.109779,98434.765477,75021.439845,48966.402221,5.355645
53,아파트 평균가격,매매,1100000000,서울,2024-10-01,265116.835138,138351.688017,98836.175477,75170.949174,49011.327779,5.409297
66,아파트 평균가격,매매,1100000000,서울,2024-11-01,268773.772517,139250.630813,99197.898519,75369.057946,49061.113654,5.478346
79,아파트 평균가격,매매,1100000000,서울,2024-12-01,272538.598957,139717.632005,99588.685484,75510.342433,49089.049842,5.551922
92,아파트 평균가격,매매,1100000000,서울,2025-01-01,273666.431321,139750.128158,99616.546685,75509.958358,49046.652699,5.579717
105,아파트 평균가격,매매,1100000000,서울,2025-02-01,275168.949700,140133.852785,99777.207172,75562.255767,48997.521036,5.615977
118,아파트 평균가격,매매,1100000000,서울,2025-03-01,282912.404395,141081.295379,100203.545904,75655.680647,48976.431103,5.776501
131,아파트 평균가격,매매,1100000000,서울,2025-04-01,295042.628829,144007.844658,101155.357728,75924.345453,49004.421744,6.020735
144,아파트 평균가격,매매,1100000000,서울,2025-05-01,300941.822195,145169.852019,101587.759429,76101.950405,49044.353827,6.136116
157,아파트 평균가격,매매,1100000000,서울,2025-06-01,314419.393406,148573.414611,102660.414846,76432.826524,49084.943529,6.405618

## 면적별 평균가격


### 조회 가능 데이터 목록

- 아파트 전용면적별 매매평균가격
- 아파트 전용면적별 전세평균가격
- 아파트 전용면적별(구) 매매평균가격
- 아파트 전용면적별(구) 전세평균가격

### 입력 명세

<div align="center">

| 항목명    | 설명                                                        | 데이터타입  | 샘플데이터 | 항목구분 |
| :------ | :--------------------------------------------------------- | :------ | :----- | :---- |
| 매매전세코드 | 매매 전세 구분<br>(01: 매매, 02: 전세)                              | string | 01    | 필수   |
| 면적별코드  | 면적별코드<br>(01: 전용면적별(구), 02: 전용면적별)                        | string | 02    | 필수   |
| 기간     | 조회 기간(최근 년)<br>(최근 1년: 1, 최근 2년: 2)<br>\*미지정 시 전체 기간으로 조회 | string | 1     | 옵션   |

</div>

### 출력 명세

<div align="center">

| 항목명          | 설명         | 샘플데이터                                                                                  |
| :------------ | :---------- | :-------------------------------------------------------------------------------------- |
| 매매전세코드       | 매매전세코드     | 매매                                                                                     |
| 면적별코드        | 면적별코드      | 전용면적별                                                                                  |
| 지역코드         | 지역코드       | 5000000000                                                                             |
| 지역명          | 지역명        | 제주특별자치도                                                                                |
| 날짜           | 날짜         | 2022-12-01                                                                             |
| \*면적 별 결과 항목 | 면적 별 결과 항목 | 대형: 91952.479358 중대형: 84746.521683 중형: 62212.726946 중소형: 52405.094864 소형: 32752.383750 |

In [28]:

api = Kbland()
params = {
    "매매전세코드": "01",
    "면적별코드": "02",
    "기간": 1,
}
df = api.get_average_price_by_area(**params)
df.tail()

,매매전세코드,면적별코드,지역코드,지역명,날짜,대형,중대형,중형,중소형,소형
307,매매,전용면적별,5200000000,전북,2025-02-01,43610.060581,39657.662919,36383.479302,25472.017544,11255.111466
308,매매,전용면적별,5200000000,전북,2025-03-01,43595.203015,39651.288041,36450.295677,25512.427136,11258.946630
309,매매,전용면적별,5200000000,전북,2025-04-01,43595.380377,39683.508002,36762.406203,25556.307128,11268.090212
310,매매,전용면적별,5200000000,전북,2025-05-01,43721.308121,40019.673257,36901.326045,25606.187668,11240.712771
311,매매,전용면적별,5200000000,전북,2025-06-01,43882.310085,40082.247531,36949.427972,25676.546267,11236.912096

## 중위가격


### 조회 가능 데이터 목록

- 아파트 매매중위가격
- 아파트 전세중위가격
- 단독 매매중위가격
- 단독 전세중위가격
- 연립 매매중위가격
- 연립 전세중위가격
- 주택종합 매매중위가격
- 주택종합 전세중위가격

### 입력 명세

<div align="center">

| 항목명    | 설명                                                        | 데이터타입  | 샘플데이터 | 항목구분 |
| :------ | :--------------------------------------------------------- | :------ | :----- | :---- |
| 매물종별구분 | 매물 종별 구분<br>(01: 아파트, 08: 연립, 09: 단독, 98: 주택종합)           | string | 01    | 필수   |
| 매매전세코드 | 매매 전세 구분<br>(01: 매매, 02: 전세)                              | string | 01    | 필수   |
| 기간     | 조회 기간(최근 년)<br>(최근 1년: 1, 최근 2년: 2)<br>\*미지정 시 전체 기간으로 조회 | string | 1     | 옵션   |

</div>

### 출력 명세

<div align="center">

| 항목명    | 설명     | 샘플데이터      |
| :------ | :------ | :---------- |
| 매물종별구분 | 매물종별구분 | 아파트        |
| 매매전세코드 | 매매전세코드 | 매매         |
| 지역코드   | 지역코드   | 4800000000 |
| 지역명    | 지역명    | 경상남도       |
| 날짜     | 날짜     | 2022-12-01 |
| 중위가격   | 중위가격   | 22266.6667 |

In [29]:

api = Kbland()
params = {
    "매물종별구분": "01",
    "매매전세코드": "01",
    "기간": 1,
}
df = api.get_median_price(**params)
df.tail()

    매물종별구분 매매전세코드        지역코드 지역명         날짜        중위가격
281    아파트     매매  4600000000  전남 2025-06-01  16416.6667
282    아파트     매매  4700000000  경북 2025-06-01  16583.3333
283    아파트     매매  4800000000  경남 2025-06-01  20833.3333
284    아파트     매매  5100000000  강원 2025-06-01  19883.3333
285    아파트     매매  5200000000  전북 2025-06-01  16666.6667

## 소득연계1


### 조회 가능 데이터 목록

- PIR = 주택가격 / 연간 가구소득

즉, 소득 분위별로 특정 지역의 평균 가격 주택을 매입하기 위해 걸리는 기간입니다.
가구 소득: 통계청 가계동향조사의 평균 소득을 연 환산하여 사용합니다.


- J-PIR = 주택전세가격 / 연간 가구소득

즉, 소득 분위별로 특정 지역의 전세자금을 마련하기 위해 걸리는 기간입니다.
가구 소득: 통계청 가계동향조사의 평균 소득을 연 환산하여 사용합니다.

### 입력 명세

<div align="center">

| 항목명  | 설명                           | 데이터타입  | 샘플데이터 | 항목구분 |
| :---- | :---------------------------- | :------ | :----- | :---- |
| 메뉴코드 | 메뉴코드<br>(01: PIR, 02: J-PIR) | string | 01    | 필수   |
| 기간     | 조회 기간(최근 년)<br>(최근 1년: 1, 최근 2년: 2)<br>\*미지정 시 전체 기간으로 조회 | string | 1     | 옵션   |

</div>

### 출력 명세

<div align="center">

| 항목명  | 설명              | 샘플데이터      |
| :---- | :--------------- | :---------- |
| 구분   | 구분 (PIR, J-PIR) | PIR        |
| 지역코드 | 지역코드            | 1100000000 |
| 지역명  | 지역명             | 서울특별시      |
| 주택분위 | 주택분위            | 1          |
| 소득분위 | 소득분위            | 1          |
| 날짜   | 날짜              | 2022-09-01 |
| PIR  | PIR 지수          | 20.737509  |

In [42]:

api = Kbland()
params = {
    "메뉴코드": "01",
    "기간": "1",
}
df = api.get_pir(**params)
df["지역코드"].unique()

array(['0000000000', '1100000000'], dtype=object)

In [41]:
# 지역명이 "경기"인 데이터 필터링
경기_data = df[df["지역명"] == "경기"]

print(f"경기 데이터 총 개수: {len(경기_data)}")
print("\n경기 데이터 컬럼:")
print(경기_data.columns.tolist())
print("\n경기 데이터 샘플:")
경기_data.head()

경기 데이터 총 개수: 0

경기 데이터 컬럼:
['구분', '지역코드', '지역명', '주택분위', '소득분위', '날짜', 'PIR']

경기 데이터 샘플:

Empty DataFrame
Columns: [구분, 지역코드, 지역명, 주택분위, 소득분위, 날짜, PIR]
Index: []

In [37]:
# 경기 데이터를 주택분위와 소득분위별로 정렬 (내림차순: 5,4,3,2,1)
경기_sorted = 경기_data.sort_values(['주택분위', '소득분위'], ascending=[False, False])

print("경기 - 주택분위별, 소득분위별 정렬 (5,4,3,2,1):")
print("="*50)
경기_sorted

경기 - 주택분위별, 소득분위별 정렬 (5,4,3,2,1):
==================================================

Empty DataFrame
Columns: [구분, 지역코드, 지역명, 주택분위, 소득분위, 날짜, PIR]
Index: []

## 소득연계2


### 조회 가능 데이터 목록

- 주택구매력지수
- 주택구매력지수 = (중위가구소득 / 대출상환가능소득) * 100

주택구매력지수란 중위 소득을 가진 가구가 금융기관의 대출을 받아 중간가격 정도의 주택을 구입한다고 가정할 때, 원리금 상환에 필요한 금액을 부담할 수 있는 능력을 의미합니다.
HAI가 100보다 클수록 큰 무리 없이 주택을 구입할 수 있다는 것을 나타내며, HAI가 상승하면 중위가구의 주택 구매력이 증가한다는 것을 의미합니다.
주택구매력지수(HAI) = (중위가구소득 ÷ 대출 상환 가능 소득) ×100

### 입력 명세

<div align="center">

| 항목명 | 설명                                                        | 데이터타입  | 샘플데이터 | 항목구분 |
| :--- | :--------------------------------------------------------- | :------ | :----- | :---- |
| 기간  | 조회 기간(최근 년)<br>(최근 1년: 1, 최근 2년: 2)<br>\*미지정 시 전체 기간으로 조회 | string | 1     | 옵션   |

</div>

### 출력 명세

<div align="center">

| 항목명  | 설명   | 샘플데이터      |
| :---- | :---- | :---------- |
| 지역코드 | 지역코드 | 4A0000     |
| 지역명  | 지역명  | 기타지방       |
| 날짜   | 날짜   | 2022-09-01 |
| 종합   | 종합   | 205.390114 |
| 아파트  | 아파트  | 192.133267 |
| 단독   | 단독   | 221.238582 |
| 연합   | 연합   | 425.540526 |

In [31]:
api = Kbland()
params = {
    "기간": "1"
}
df = api.get_hai(**params)
df.tail()

       지역코드   지역명         날짜          종합         아파트          단독          연립
99   4A0000  기타지방 2024-08-01  260.578345  236.491272  275.906483  625.388029
100  4A0000  기타지방 2024-09-01  255.346123  231.742700  270.366483  612.830695
101  4A0000  기타지방 2024-10-01  245.415571  222.170006  259.851781  588.997371
102  4A0000  기타지방 2024-11-01  240.172500  217.971681  254.300294  576.413999
103  4A0000  기타지방 2024-12-01  241.208133  218.911584  255.396847  578.899520

## 소득연계3

### 조회 가능 데이터 목록

- KB주택구입잠재력지수
- HOI = (구입 가능 재고량 ÷ 총 재고량) ×100

주택구입잠재력지수(KB-HOI) 란 중위 소득의 가구가 금융기관의 대출을 받아 주택을 구입한다고 가정할 경우, 지역 내 주택 중 경제능력(소득, 자산 등)의 제약 속에서 구입 가능한 주택 재고량을 알 수 있는 지표입니다.
즉, KB-HOI 지수가 50이면 해당 지역 내 주택 재고 수의 가격별 하위 50% 범위 내 주택을 구입할 수 있음을 나타내며, KB-HOI 지수가 상승하면 주택 구입 능력(잠재력)이 증가한다는 것을 뜻합니다.
HOI = (구입 가능 재고량 ÷ 총 재고량) ×100

### 입력 명세

<div align="center">

| 항목명 | 설명                                                        | 데이터타입  | 샘플데이터 | 항목구분 |
| :--- | :--------------------------------------------------------- | :------ | :----- | :---- |
| 기간  | 조회 기간(최근 년)<br>(최근 1년: 1, 최근 2년: 2)<br>\*미지정 시 전체 기간으로 조회 | string | 1     | 옵션   |

</div>

### 출력 명세

<div align="center">

| 항목명        | 설명         | 샘플데이터       |
| :---------- | :---------- | :----------- |
| 지역코드       | 지역코드       | 2800000000  |
| 지역명        | 지역명        | 인천광역시       |
| 날짜         | 날짜         | 2022-09-01  |
| 잠재력지수      | 잠재력지수      | 35.409012   |
| 가구별월소득금액   | 가구별월소득금액   | 484.203238  |
| 연간지출가능주거비용 | 연간지출가능주거비용 | 1917.444822 |
| 구입가능주택가격   | 구입가능주택가격   | 35848.54175 |
| 구입가능아파트재고량 | 구입가능아파트재고량 | 20.2678     |
| 총아파트재고량    | 총아파트재고량    | 57.2391     |
| 주택담보대출금리   | 주택담보대출금리   | 4.43        |

In [32]:

api = Kbland()
params = {
    "기간": "1"
}
df = api.get_kb_housing_purchase_potential_index(**params)
df.tail()

,지역코드,지역명,날짜,잠재력지수,가구별월소득금액,연간지출가능주거비용,구입가능주택가격,구입가능아파트재고량,총아파트재고량,주택담보대출금리
10,4100000000,경기,2024-09-01,48.394351,595.039800,2356.357610,47497.676919,135.7463,280.5003,3.58
11,2800000000,인천,2024-09-01,62.134084,538.331684,2131.793467,42971.082548,38.6835,62.2581,3.58
12,1100000000,서울,2024-12-01,8.380741,653.218168,2586.743944,49343.187673,12.1094,144.4908,4.20
13,4100000000,경기,2024-12-01,43.753785,585.927668,2320.273566,44260.157366,123.8261,283.0066,4.20
14,2800000000,인천,2024-12-01,57.885485,530.087950,2099.148283,40042.103091,36.6183,63.2599,4.20

## 소득연계4

### 조회 가능 데이터 목록

- KB아파트주택담보대출 PIR
- KB-PIR = 주택 가격 / (연간)가구 소득

KB국민은행 부동산담보대출(아파트) 대출자를 대상으로 한 주택 가격을 가구 소득으로 나눈 통계입니다. KB-PIR = 주택 가격 / (연간)가구 소득
가구 소득: 분기단위 해당 지역 내 KB국민은행 부동산담보대출(아파트) 대출자의 연소득 중위값
주택 가격: 분기단위 해당 지역 내 KB국민은행 부동산담보대출(아파트) 실행 시 조사된 담보평가 가격의 중위가격

### 입력 명세

<div align="center">

| 항목명 | 설명                                                        | 데이터타입  | 샘플데이터 | 항목구분 |
| :--- | :--------------------------------------------------------- | :------ | :----- | :---- |
| 기간  | 조회 기간(최근 년)<br>(최근 1년: 1, 최근 2년: 2)<br>\*미지정 시 전체 기간으로 조회 | string | 1     | 옵션   |

</div>

### 출력 명세

<div align="center">

| 항목명      | 설명       | 샘플데이터      |
| :-------- | :-------- | :---------- |
| 지역코드     | 지역코드     | 2800000000 |
| 지역명      | 지역명      | 인천광역시      |
| 날짜       | 날짜       | 2022-09-01 |
| KB아파트PIR | KB아파트PIR | 9.110603   |
| 주택가격     | 주택가격     | 37500      |
| 가구소득     | 가구소득     | 4116       |

In [33]:
api = Kbland()
params = {
    "기간": "1"
}
df = api.get_apartment_mortgage_loan_pir(**params)
df.tail()

          지역코드 지역명         날짜   KB아파트PIR     주택가격    가구소득
10  4100000000  경기 2024-09-01   9.026203  50000.0  5539.0
11  2800000000  인천 2024-09-01   8.143849  41900.0  5145.0
12  1100000000  서울 2024-12-01  11.359803  86000.0  7571.0
13  4100000000  경기 2024-12-01   9.426404  51500.0  5463.0
14  2800000000  인천 2024-12-01   8.958994  44500.0  4967.0

In [ ]:
# 지역명이 "경기"인 데이터 필터링
경기_data = df[df["지역명"] == "경기"]

print(f"경기 데이터 총 개수: {len(경기_data)}")
print("\n경기 데이터 컬럼:")
print(경기_data.columns.tolist())
print("\n경기 데이터 샘플:")
경기_data.head()

In [ ]:
# 경기 데이터를 주택분위와 소득분위별로 정렬 (내림차순: 5,4,3,2,1)
경기_sorted = 경기_data.sort_values(['주택분위', '소득분위'], ascending=[False, False])

print("경기 - 주택분위별, 소득분위별 정렬 (5,4,3,2,1):")
print("="*50)
경기_sorted

In [ ]:
# 주택분위별로 나누어 보기
print("경기 - 주택분위별 상세 분석:")
print("="*60)

for 주택분위 in [5, 4, 3, 2, 1]:
    해당분위_data = 경기_sorted[경기_sorted['주택분위'] == 주택분위]
    if len(해당분위_data) > 0:
        print(f"\n📊 주택분위 {주택분위}분위:")
        print(f"   데이터 개수: {len(해당분위_data)}개")
        print(f"   소득분위별 데이터:")
        
        # 소득분위별로 PIR 값 출력
        for 소득분위 in [5, 4, 3, 2, 1]:
            해당소득_data = 해당분위_data[해당분위_data['소득분위'] == 소득분위]
            if len(해당소득_data) > 0:
                pir_값 = 해당소득_data['PIR'].iloc[0]
                print(f"      소득분위 {소득분위}: PIR = {pir_값:.2f}")
        print("-" * 40)

In [ ]:
# 최신 데이터만 보기 (가장 최근 날짜)
최신날짜 = 경기_data['날짜'].max()
최신_경기_data = 경기_data[경기_data['날짜'] == 최신날짜]

print(f"경기 - 최신 데이터 ({최신날짜}):")
print("="*50)

# 최신 데이터 피벗 테이블
최신_pir_matrix = 최신_경기_data.pivot_table(
    index='주택분위', 
    columns='소득분위', 
    values='PIR', 
    aggfunc='first'
)

# 내림차순 정렬 (5,4,3,2,1)
최신_pir_matrix = 최신_pir_matrix.sort_index(ascending=False)
최신_pir_matrix = 최신_pir_matrix.reindex(sorted(최신_pir_matrix.columns, reverse=True), axis=1)

print("📅 최신 PIR 매트릭스:")
print("   주택분위(행) x 소득분위(열)")
최신_pir_matrix

In [ ]:
# 히트맵으로 시각화
import matplotlib.pyplot as plt
import seaborn as sns

# 한글 폰트 설정
plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['axes.unicode_minus'] = False

# 히트맵 생성
plt.figure(figsize=(10, 6))
sns.heatmap(최신_pir_matrix, 
            annot=True, 
            fmt='.2f', 
            cmap='YlOrRd',
            cbar_kws={'label': 'PIR 값'})

plt.title(f'경기 PIR 히트맵 ({최신날짜})', fontsize=16, fontweight='bold')
plt.xlabel('소득분위', fontsize=12)
plt.ylabel('주택분위', fontsize=12)
plt.tight_layout()
plt.show()

print(f"\n💡 해석:")
print(f"- PIR 값이 높을수록 주택 구입이 어려움")
print(f"- 주택분위 5 (고가주택) + 소득분위 1 (저소득)이 가장 높은 PIR")
print(f"- 주택분위 1 (저가주택) + 소득분위 5 (고소득)이 가장 낮은 PIR")

In [ ]:
# 피벗 테이블로 보기 좋게 정리
import pandas as pd

print("경기 - PIR 매트릭스 (주택분위 x 소득분위):")
print("="*50)

# 피벗 테이블 생성
pir_matrix = 경기_data.pivot_table(
    index='주택분위', 
    columns='소득분위', 
    values='PIR', 
    aggfunc='first'
)

# 인덱스와 컬럼을 내림차순 정렬 (5,4,3,2,1)
pir_matrix = pir_matrix.sort_index(ascending=False)
pir_matrix = pir_matrix.reindex(sorted(pir_matrix.columns, reverse=True), axis=1)

print("       소득분위")
print("주택분위", end="")
pir_matrix